@charset "UTF-8";
:root{
    --softBlue: #8bacda;
    --cian: #00fff7;
    --white: #ffffff;
    --bgColor: #0d192b;
    --bgCard: #14253d;
    --shadow: #080f1a;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--bgColor);
}
.main{
    position: absolute;
    background-color: var(--bgCard);
    border-radius: 15px;
    width: 300px;
    height: fit-content;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 0px 25px var(--shadow);
}
.central-images{
    display: flex;
    position: relative;
}
.main .central-images:before{
    content: "";
    background-color: var(--cian);
    width: 90%;
    height: 90%;
    position: absolute;
    margin: auto;
    inset: 0;
    border-radius: 7px;
    opacity: 0.5;
    z-index: 1;
    pointer-events: none;
}
.main .img-cube{
    margin: 14px 15px;
    position: relative;
    width: 90%;
    display: flex;
    border-radius: 7px;
    z-index: 3;
}
.main .img-cube:hover{
    margin: 14px auto;
    position: relative;
    width: 90%;
    border-radius: 7px;
    z-index: 0;
}
.main .img-eye{
    position: absolute;
    width: 45px;
    margin: auto;
    inset: 0;
    z-index: 2;
    pointer-events: none;
}
.main .text{
    padding: 0 20px;
    margin: 0px;
}
.main h1{
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
    padding-top: 17px;
}
.main h1:hover{
    color: var(--cian);
}
.main h2{
    color: var(--softBlue);
    font-weight: 300;
    font-size: 16px;
    padding-top: 17px;
}
.days-left{
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
}
.days-left h3{
    display: inline-flex;
    color: var(--cian);
    font-size: 15px;
    font-size: 15px;
}
.days-left h3:before{
    content: url(../images/icon-ethereum.svg);
    padding-right: 6px;
}
.days-left span{
    display: inline-flex;
    color: var(--softBlue);
    font-weight: 300;
    padding: 0;
    font-size: 15px;
    align-items: center;
}
.days-left span:before{
    display: inline-flex;
    content: url(../images/icon-clock.svg);
    padding-right: 6px;
}
.creation{
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 17px 0 25px 0;
    border-top: 1px solid #2f415b;
}
.creation img{
    border: 1px solid var(--white);
    border-radius: 100%;
    width: 28px;
    margin: 0 15px 0 0;
}
.creation h4{
    color: var(--softBlue);
    font-weight: 300;
}
.creation a{
    color: var(--white);
    font-weight: 400;
    text-decoration: none;
}
.creation a:hover{
    color: var(--cian);
}
.attribution{
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 8px;
    color: var(--softBlue);
    font-weight: 300;
}
.attribution a{
    color: var(--cian);
}