@charset "UTF-8";
:root{
    --softBlue: #8bacda;
    --cian: #00fff7;
    --white: #ffffff;
    --bgColor: #0d192b;
    --bgCard: #14253d;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--bgColor);
}
.main{
    position: absolute;
    background-color: var(--bgCard);
    border-radius: 15px;
    width: 300px;
    height: fit-content;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
}
.main .img-cube{
    margin: auto;
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 14px 10px;
    border-radius: 25px;
}
.main .text{
    padding: 0 20px;
    margin: 0px;
}
.main h1{
    color: var(--white);
    font-weight: 600;
    font-size: 25px;
    padding-top: 17px;
}
.main h2{
    color: var(--softBlue);
    font-weight: 300;
    font-size: 18px;
    padding-top: 17px;
}
.days-left{
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
}
.days-left h3{
    color: var(--cian);
    font-size: 15px;
    font-weight: 00;
    font-size: 18px;
}
.days-left span{
    color: var(--softBlue);
    font-weight: 300;
    padding: 0;
}
.creation{
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 17px 0 25px 0;
    border-top: 1px solid #2f415b;
}
.creation img{
    border: 1px solid var(--white);
    border-radius: 100%;
    width: 28px;
    margin: 0 15px 0 0;
}
.creation h4{
    color: var(--softBlue);
    font-weight: 300;
}
.creation span{
    color: var(--white);
    font-weight: 600;
}
.attribution{
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 8px;
    color: var(--softBlue);
    font-weight: 300;
}
.attribution a{
    color: var(--cian);
    font-family: 600;
}



/*
Soft blue: #8bacda
Cyan: #00fff7 
Very dark blue (main BG): #0d192b
Very dark blue (card BG): #14253d
Very dark blue (line): #2f415b
*/